select {
    border-radius: 1rem;
    padding: 3px;
}


.whole-filter {
    width: 25%;
    height: fit-content;
    margin-left: 1rem;
    background-color: var(--clr-section-bg);
    border-radius: 0.25rem;
    outline-style: groove;
    outline-width: 1px;
    outline-color: var(--clr-section-bg-outline);
    padding: 0.5rem;
}

.filter-title-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .filter-title-div::after {
        content: "";
        width: 90%;
        height: 1px;
        background-color: var(--clr-section-bg-outline);
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

.exercise-filter-label {
    font-size: 1.5rem;
    
}

.benefits {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    
}

.benefit {
    display: inline-block;
    background-color: var(--clr-section-bg-outline);
    color: var(--clr-secondary);
    padding: 0.05rem 0.5rem;
    border-radius: 2rem;
    margin: 0.2rem 0.1rem;
    font-weight: 500;
    font-size: 0.85rem;
    padding-right: 0;
    border-style: solid;
    border-color: var(--clr-section-bg-outline);
    border-width: 2px;
    text-transform: uppercase;
}

.benefit-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.type-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.type-section::before {
    content: "";
    width: 90%;
    height: 1px;
    background-color: var(--clr-section-bg-outline);
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.types {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.type {
    display: inline-block;
    background-color: var(--clr-section-bg-outline);
    color: var(--clr-secondary);
    padding: 0.05rem 0.5rem;
    border-radius: 2rem;
    margin: 0.2rem 0.1rem;
    font-weight: 500;
    font-size: 0.85rem;
    padding-right: 0;
    border-style: solid;
    border-color: var(--clr-section-bg-outline);
    border-width: 2px;
    text-transform: uppercase;
}

.x-btn {
    border: none;
    aspect-ratio: 1 / 1;
    height: 1.5rem;
    border-radius: 1rem;
    font-weight: 700;
    color: var(--clr-black);
    text-transform: uppercase;
    margin-left: 0.25rem;
}

    .x-btn:hover {
        color: black;
        background-color: indianred;
    }

.line-above-radio-section {
    content: "";
    width: 90%;
    height: 1px;
    background-color: var(--clr-section-bg-outline);
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.based-on-injuries-radio {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.filter-search-btn-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.filter-search-btn {
    background-color: var(--clr-cta);
    border-radius: .25rem;
    border-width: 0;
    box-sizing: border-box;
    text-shadow: rgba(0, 0, 0, .3) 1px 1px 1px;
    color: var(--clr-neutral);
    font-weight: 500;
    font-size: 1.2rem;
    text-align: center;
    justify-content: center;
    transition: transform .2s;
}

    .filter-search-btn:hover {
        text-shadow: rgba(0, 0, 0, .8) 2px 2px 2px;
        transform: scale(1.1);
    }

@media screen and (max-width: 641px) {

    .whole-filter {
        width: 100%;
        margin-left: 0rem;
    }

    
}