.exercise-cards {
    display: flex;
    flex-direction: column;


    border-style: solid;
    border-color: aqua;
}

.exercise-card-component {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: pink;
}
