@page "/"
@inject UserState UserState;

<PageTitle>Index</PageTitle>

<h1>Index</h1>

This section will eventually be used to describe the purpose
of this project as well as disclaimers


@if (UserState.userProfile != null)
{
    <h2>@UserState.userProfile.UserId</h2>
}
