.login-page {
    display: flex;
    flex-direction: column;
    align-items: center;


}

.login-form {
    
    height: fit-content;
    width: fit-content;
    margin: auto;
    margin-top: 4rem;

}

.login-title {
    width: fit-content;
    margin: auto;

}

.username-password-fields {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 1rem;

}


.username-section {
    margin-bottom: 0.5rem;

}

.password-section {

    

}

.login-form-btns {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: auto;

    
}

.login-button {
    background-color: var(--clr-black);
    border-radius: .25rem;
    border-width: 0;
    box-sizing: border-box;
    text-shadow: rgba(0, 0, 0, .3) 1px 1px 1px;
    color: var(--clr-white);
    font-weight: 500;
    font-size: 1.2rem;
    text-align: center;
    justify-content: center;
    transition: transform .2s;
}

    .login-button:hover {
        text-shadow: rgba(0, 0, 0, .8) 2px 2px 2px;
        transform: scale(1.1);
    }

.btn-subtle {
    font-size: 0.90rem;
    border: none;
    background: none;

}

.btn-subtle:hover {
    font-weight: 600;

}