@page "/login"
@inject NavigationManager Navigation;
@inject HttpClient HttpClient
@inject UserClient UserClient
@inject IJSRuntime JSRuntime
@inject UserState UserState;
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage;

<div class="login-page">
    <div class="login-form">
        <h1 class="login-title">
            Login
        </h1>
        <div class="username-password-fields">
            <div class="username-section">

                <input @bind="userProfile.Username" class="username" placeholder="Username">
            </div>
            <div class="password-section">

                <input type="password" @bind="userProfile.Password" class="password" placeholder="Password">
            </div>
        </div>
        <div class="login-form-btns">
            <button class="login-button" @onclick="BeginLogin">Log in</button>
        </div>
        <div class="login-form-btns">
            <button class="btn-subtle" @onclick="BeginRegister">Register</button>
        </div>
        @if (UserDoesNotExist)
        {
            <div>
                <text>Username or password is incorrect</text>
            </div>
        }
    </div>
    @if (showSpinner)
    {
        <div class="spinner"></div>
    }
</div>
@code {
    [CascadingParameter(Name = "UpdateMenuOnLogIn")] public EventCallback UpdateMenuOnLogIn { get; set; }
    [CascadingParameter(Name = "UpdateMenuOnRefresh")] public EventCallback UpdateMenuOnRefresh { get; set; }
    bool showSpinner = false;

    UserProfile userProfile = new UserProfile();
    bool UserDoesNotExist = false;

    void BeginRegister()
    {
        Navigation.NavigateTo("/register");
    }

    void TestDataBinding()
    {
        Console.WriteLine(userProfile.Username);
        Console.WriteLine(userProfile.Password);
    }

    async Task BeginLogin()
    {
        UserProfile fullUserProfile = new UserProfile();
        showSpinner = true;
        StateHasChanged();

        if ((userProfile.Username == null) || (userProfile.Password == null))
        {
            showSpinner = false;
            StateHasChanged();
            return;
        }
        if ((userProfile.Username.Length <= 0) || (userProfile.Password.Length <= 0))
        {
            showSpinner = false;
            StateHasChanged();
            return;
        }

        try
        {
            fullUserProfile = await UserClient.VerifyUser(userProfile);
            if (fullUserProfile.UserId == null)
            {
                UserDoesNotExist = true;
                showSpinner = false;
                StateHasChanged();
                return;
            }
            else
            {
                UserDoesNotExist = false;
            }

        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
        }
        fullUserProfile.PrintUserProfile();
        UserState.userProfile = fullUserProfile;

        await sessionStorage.SetItemAsync("UserId", fullUserProfile.UserId);
        await sessionStorage.SetItemAsync("Username", fullUserProfile.Username);
        await sessionStorage.SetItemAsync("Password", fullUserProfile.Password);
        await sessionStorage.SetItemAsync("IsLoggedIn", true);
        UserState.injuryLocations = await UserClient.GetUsersInjuryLocations(UserState.userProfile.UserId);
        Console.Write("injuryLcoations list length: ");
        Console.WriteLine(UserState.injuryLocations.Count);

        await UpdateMenuOnLogIn.InvokeAsync();
        if (UserState.isLoggedIn)
        {
            Console.WriteLine("GotoHome");
            showSpinner = false;
            StateHasChanged();
            GoToHome();
        }
        else
        {
            showSpinner = false;
            StateHasChanged();
        }


    }

    void GoToHome()
    {
        Navigation.NavigateTo("");
    }

}
