@page "/register"
@inject NavigationManager Navigation
@inject HttpClient HttpClient
@inject UserClient UserClient
@inject IJSRuntime JSRuntime
@inject UserState UserState;
@inject ToastService toastService;


<div>
    <div class="register-form">
        <h1 class="title">
            Register
        </h1>
        <div class="username-password-section">
            <div class="username-section">
                <input @bind="userProfile.Username" class="username" placeholder="Username">
            </div>
            <div class="password-section">
                <input type="password" @bind="@passwordOne" class="password" placeholder="Password">
            </div>
            <div class="password-section">
                <input type="password" @bind="@passwordTwo" @oninput="@((e) => { passwordTwo=(string?)e.Value; PasswordMatchCheck(); })" class="password" placeholder="Retype Password">
            </div>
            @if (passwordsNotEqual)
            {
                <div>
                    <text>Passwords do not match.</text>
                </div>
            }
        </div>
        <div class="button-set">
            <div class="login-form-btns">
                <button class="register-button" @onclick="BeginRegister">Register</button>
            </div>
            <div>
                <button class="button-subtle" @onclick="GoToLogin">Log in</button>
            </div>
        </div>
        @if (userFailedToAdd)
        {
            <div>
                <text>Failed to create user account. Please try again.</text>
            </div>
        }

    </div>
    @if (showSpinner)
    {
        <div class="spinner"></div>
    }
</div>
@code {
    UserProfile userProfile = new UserProfile();
    bool userExists = false;
    string? passwordOne;
    string? passwordTwo;
    bool passwordsNotEqual = false;
    bool userFailedToAdd = false;
    bool passwordTooShort = false;
    bool showSpinner = false;

    async Task BeginRegister()
    {

        try
        {
            showSpinner = true;
            StateHasChanged();
            userExists = await UserClient.UserExistsCheck(userProfile);
            if(userExists)
            {
                toastService.ShowToast("A User with that Username already exists.", ToastLevel.Warning);
            }
            showSpinner = false;
            StateHasChanged();
            PasswordMatchCheck();


            if ((!passwordsNotEqual) && (!userExists))
            {
                showSpinner = true;
                StateHasChanged();
                bool userAdded = false;
                userProfile.Password = passwordOne;
                passwordTooShort = !(userProfile.PasswordLengthCheck());
                toastService.ShowToast("Password must be at least 5 characters and at most 50", ToastLevel.Warning);
                if (userProfile.PasswordLengthCheck())
                {
                    userAdded = await UserClient.AddUser(userProfile);
                    Console.WriteLine("Password length check: " + userProfile.PasswordLengthCheck());
                    if (!userAdded)
                    {
                        userFailedToAdd = true;
                        toastService.ShowToast("Failed to add user!", ToastLevel.Error);
                    }
                    else
                    {
                        GoToLogin();
                    }
                }
                showSpinner = false;
                StateHasChanged();
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
        }

    }

    public void PasswordMatchCheck()
    {

        if (passwordOne == passwordTwo)
        {
            passwordsNotEqual = false;
        }
        else
        {
            passwordsNotEqual = true;
        }
        Console.WriteLine("Checking passwords " + passwordsNotEqual);
        Console.WriteLine(passwordOne);
        Console.WriteLine(passwordTwo);
    }

    void GoToLogin()
    {
        Navigation.NavigateTo("/login");
    }
}
