
:root {
    /*
    --clr-white: #e0e1dd;
    --clr-black: #415a77;
        */
    --clr-white: #f8f9fa;
    --clr-black: #495057;
}

input {
    border-radius: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-style: solid;
    border-width: 1px;
}

select {
    border-radius: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

option {
    border-radius: 1rem;
}

textarea {
    border-radius: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.suggest-exercise-page {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.suggest-exercise-form {
    margin: 1rem;
    padding: 1rem;
    max-width: 65%;
    background-color: var(--clr-section-bg);
    border-radius: 0.25rem;
    outline-style: groove;
    outline-width: 1px;
    outline-color: var(--clr-section-bg-outline);
}

.title-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.dialog-body-input {
    margin-top: 0.25rem;
}

.dialog-body-input > label {
    padding-right: 0.5rem;
}

.injuries {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 50rem;
    flex-wrap: wrap;
    padding-top: 0.5rem;
}

.injury {
    display: inline-block;
    background-color: var(--clr-section-bg-outline);
    color: var(--clr-secondary);
    padding: 0.05rem 0.5rem;
    border-radius: 2rem;
    margin: 0.2rem 0.1rem;
    font-weight: 500;
    font-size: 0.85rem;
    padding-right: 0;
    border-style: solid;
    border-color: var(--clr-section-bg-outline);
    border-width: 2px;
    text-transform: uppercase;
}

.image-preview {
    align-self: center;
    height: 25rem;
    width: 100%;
    flex: none;
    border-style: ridge;
    border-color: blueviolet;
}

img {
    display: inline;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.x-btn {
    border: none;
    aspect-ratio: 1 / 1;
    height: 1.5rem;
    border-radius: 1rem;
    font-weight: 700;
    color: var(--clr-black);
    text-transform: uppercase;
    margin-left: 0.25rem;
}

    .x-btn:hover {
        color: black;
        background-color: indianred;
    }

.submit-exercise-btn-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.submit-exercise-btn {
    background-color: var(--clr-cta);
    color: var(--clr-neutral);
    border-radius: .25rem;
    border-width: 0;
    box-sizing: border-box;
    text-shadow: rgba(0, 0, 0, .3) 1px 1px 1px;
    font-weight: 700;
    font-size: 1.2rem;
    text-align: center;
    justify-content: center;
    transition: transform .2s;
}

    .submit-exercise-btn:hover {
        text-shadow: rgba(0, 0, 0, .8) 2px 2px 2px;
        transform: scale(1.1);
    }