
.suggest-exercise-form{
    margin: 1rem;
    padding: 1rem;
    border-style: ridge;
    border-color: blueviolet;
}

.image-preview {
    align-self: center;
    height: 25rem;
    width: 100%;
    flex: none;
    border-style: ridge;
    border-color: blueviolet;
}

img {
    display: inline;
    width: 100%;
    height: 100%;
    object-fit: contain;
}