@page "/testpage"
@using Microsoft.AspNetCore.Components.Forms
@using System.Collections.Generic
@inject HttpClient HttpClient
@inject UserClient UserClient
@inject ExerciseClient ExerciseClient
@inject InjuryState InjuryState
@inject NavigationManager NavigationManager
@inject IJSRuntime JS
@inject InjuryState InjuryState
@inject UserState UserState
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage;

<h3>Testpage</h3>

@code {

}
