.dialog-body {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding-top: 5rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: groove;
    border-color: red;
    overflow-y: scroll;
}

.user-injury-form-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    margin-bottom: 1rem;
    border-style: groove;
    border-color: red;
}

.injury-description-div {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: auto;
    border-style: groove;
    border-color: black;
}

.injuries {
    text-align: center;
    display: block;
    padding-left: 0.5rem;
}

.injury {
    display: inline-block;
    background-color: var(--clr-black);
    color: var(--clr-white);
    padding: 0.05rem 0.5rem;
    border-radius: 2rem;
    margin: 0.2rem 0.1rem;
    font-weight: 500;
    font-size: 0.85rem;
    padding-right: 0;
    border-style: solid;
    border-color: var(--clr-black);
    border-width: 2px;
    text-transform: uppercase;
}

.x-btn {
    border: none;
    aspect-ratio: 1 / 1;
    height: 1.5rem;
    border-radius: 1rem;
    font-weight: 700;
    color: var(--clr-black);
    text-transform: uppercase;
    margin-left: 0.25rem;
}

    .x-btn:hover {
        color: black;
        background-color: indianred;
    }

@media screen and (max-width: 480px) {
    .dialog-body {
        padding-top: 0rem;
    }
}
